div.drop--send {
    display: inline;
    width: 50em;
    height: 43px !important;
    line-height: 43px !important;               /* borrowed from class "drop" */
    background: white !important;  /* this isn't working either */
  }
  
  .docupload__uploadbutton {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .fileUploadSelect {
    width: 60% !important;
    margin-bottom: 4px !important; 
    outline-color: orange !important;
  }
  
  .docupload__mode_advanced{
    border-top: 0px !important;
  }

  li.uploadTypes{
    line-height: 10px !important;	
  }
  