.aui .info .info__copy a,
.aui .info .info__copy a + a {
  display: block;
  margin: 10px 0 0;
}

.myaccount .myaccount_links,
.aui #header .myaccount .myaccount_links a {
  font-size: 16px;
}

.myaccount .myaccount_links {
  color: #fff;
}

.field + button {
  margin-top: 15px;
}

.aui .step-header .step-header__title.step-header__two-cols {
  display: flex;
}

.aui
  .step-header
  .step-header__title.step-header__two-cols
  .step-header__title__steps {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .aui .step-header .step-header__title.step-header__two-cols,
  .aui
    .step-header
    .step-header__title.step-header__two-cols
    .step-header__title__steps,
  .step-header__title__steps span {
    display: block;
    white-space: normal;
  }
  .step-header__title__steps span.divider {
    display: none;
  }
  .aui
    .step-header
    .step-header__title.step-header__two-cols
    .step-header__title__steps {
    margin-bottom: 10px;
  }
}

.assessment + .assessment {
  margin-top: 60px;    
}

.assessment p {
  margin-bottom: 10px;
}

.assessment:last-child {
  margin-bottom: 60px;
}

.aui .accordion h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.aui .accordion fieldset {
  margin-top: 0;
}

/* Accordion styling */

.aui p.expected {
  padding: 20px;
  margin-bottom: 10px;
}

.aui .option-block-item + h3 {
  margin-top: 40px;
}

.aui .option-block .field__input[type="radio"] + label {
  border-color: transparent;
}

.aui p.expected strong,
.aui .option-block .field__input[type="radio"] + label strong {
  display: block;
  margin-bottom: 10px;
}

.aui .option-block-item {
  background: #eaeaea;
}

.aui .option-block-item .field__input[type="radio"]:checked + label {
  background: #fff;  
  box-shadow: inset 10px 0 0 0 #188049;
  border: solid 1px #188049;
}

/* css Styles for buttons and submit */
a.send-button:link,a.send-button:visited, a.send-button:active, a.send-button:hover {
  text-decoration: none; 
  padding-right: 25px;       
}

.aui .newcta, .aui .newcta[type] {
    line-height: 23px;    
}

/* setting the hr this way needed for compatibility with Chrome and Edge */ 
.clear__confirm{
  border: none !important;
  border-top: 2px solid #eaeaea !important;
  size: 2px;
  margin-top: 1.5em !important;
  margin-bottom: 2.5em !important;
} 

a.link-disabled:hover, a.link-disabled {
  color: #929292;
  cursor: default;  
}

div.button-holder {   
    margin-top: 65px;
    margin-bottom: 55px;
}

div.right-button-holder {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: auto; 
  margin-right: 0;
}

div.needs-heading, div.provisions-heading{  
  display: inline-block;
  width: 49%;  
}

div.provisions-links, div.needs-links, div.home-links{
  display: inline-block;
  width: 49%; 
}

h2.padded{
  padding-top: 40px; 
}
h1.padded{
  padding-top: 10px; 
}

h3.padded{
  padding-top: 40px; 
  padding-bottom: 20px;
}

.section-break--visible {
  border-bottom: 1px solid #b1b4b6; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-break--visible--double {
  border-bottom: 1px solid #b1b4b6; 
  border-top: 1px solid #b1b4b6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.section-break--non-visible { 
  padding-bottom: 10px;
}

.aui .breadcrumb {
	background-color: #fff!important;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;    
    padding-bottom: 10px;
    padding-top: 0px;
    display: flex;
    border-bottom: 5px solid #eaeaea;
}

.breadcrumb span {
	flex: 1;
	text-align: right;
	white-space: nowrap;
}

.aui .breadcrumb .active {
    color: #0d45a0;
}

.breadcrumb li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-shadow: 0 1px 0 white;
}

.breadcrumb .active:after {
    clear: both;
    content: '';
    display: table;
}

.breadcrumb li:after {
    padding-right: 5px;
    padding-left: 5px;
    color: #ccc;   
    content: " > "; 
    font-weight: 700;        
}
span.padded {      
    padding-left: 10px;
    font-weight: bold;     
}

li.submitTcType{
    margin-left: 30px;
  }